@media (max-width: 576px) {
    .banner-text {
        position: absolute;
        top: 3em;
        font-size: 5px;
        transform: translate(-30%, -10%);
    }

    #nav-bar > .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .pt-navbar {
        display: none;
    }

    .img-cte {
        margin-top: 10px;
    }

    .ct1 {
        display: flex;
        flex-wrap: wrap;
        border-top: 2px solid orangered;
    }

    .ct0 {
        display: flex;
        flex-wrap: wrap;
    }

    .nav-button {
        border: none;
    }

    hr {
        display: none;
    }

    .tt {
        display: flex;
    }   
}