@media (max-width: 576px) {
    .banner-text {
        position: absolute;
        top: 3em;
        left: 20%;
        font-size: 10px;
    }

    #nav-bar > .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .nav-button {
        border: none;
    }
}